#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--dark {
  background-color: var(--color-blue);
  padding: 8px;
}

.navbar__logo {
  display: flex;
  align-content: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__logo img {
  width: var(--font-large);
  height: var(--font-large);
}
.navbar__logo a {
  line-height: var(--font-large);
  padding-top: 5px;
}

.navbar__menu {
  display: flex;
  font-size: var(--font-regular);
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  font-weight: var(--weight-semi-bold);
  font-style: italic;
}
.navbar__menu__item:hover {
  font-style: italic;
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  font-size: 24px;
  border: none;
  display: none;
}
