@import "variables.css";
@import "reset.css";

/* Components */
@import "component/navbar.css";

/* Section */
@import "section/home.css";
@import "section/about.css";
@import "section/contact.css";
@import "section/home.css";
@import "section/skills.css";
@import "section/testimonials.css";
@import "section/work.css";

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
  line-height: 1.5em;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto; /*section: block level*/
}
.section__container {
  max-width: 1200px;
  margin: auto;
}
