/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-blue: #4f8fe6;
  --color-dark-blue: #0024cc;
  --color-dark-grey: #000d4f;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-pink: #e6adcf;
  --color-yellow: #f7eec9;
  --color-orange: #feb546;
  --color-brown: #681916;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}
