#work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__category {
  /* display: flex; */
  margin: 40px 0px;
}
.category__btn {
  flex-basis: 25%;
  padding: 8px 32px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  margin: 0px 2px;
  font-size: var(--font-regular);
}
.category__count {
  background-color: var(--color-dark-white);
  border-radius: 50% 20% / 10% 40%;
  margin-left: 8px;
  height: 24px;
  width: 24px;
  display: inline-block;
  line-height: 24px;
  position: relative;
  top: -20px;
  opacity: 0;
  /* display: none; */
  transition: all var(--animation-duration) ease-in;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  /* display: block; */
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-in;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  background-color: var(--color-light-white);
  margin: 2px;
  width: 240px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project__description h3,
.project__description span {
  color: var(--color-white);
}
.project__description h3:after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12.5px;
  margin-top: 8px;
}

.project__description:hover {
  opacity: 0.8;
  transform: translateY(0px);
}
